.main {
  background-color: #800080;
  color: white;
  padding: 30px;
}
.container {
  margin-top: 60px;
}

input[type="text"] {
  width: 30vw;
  height: 6vh;
}
img {
  height: 100px;
}
.image {
  text-align: center;
}

h2 {
  margin: 30px;
}
label {
  font-size: 20px;
}
textarea {
  height: 10vh;
  width: 40vw;
}
th {
  font-weight: 800;
}
