*{
    margin: 0;
}
.radio-div{
    margin: 0 10px 10px;
}

.select{
    padding: 20px 10px 20px 10px;
    width: 100%;
    color: rgb(118, 118, 118);
    border-radius: 3px;
    border-color: rgb(157, 157, 157);
    font-size: 14px;
}

.select:hover{
    border-color: black;
}

::-webkit-file-upload-button {
    background: green;
    color: white;
    padding: 7px;

    border: 0px solid black;
    border-radius: 2px;
}